*{
    margin: 0;
    padding: 0; 
} 
body{
    background-color: #04012b;
}

nav{
    width: 350px;
    height: auto;
    font-family: 'Arial';
    margin: auto;
}
.main {
    font-family: 'Arial';
    text-align: center;
    font-size: 20px;
    color: #fff;
 
    
}
.main a {
    text-decoration: none;
    color: #fff;
    
}
.main h1{
    font-family: 'Arial';
    text-align: center;
    font-size: 45px;
    color: #fff;
    
}
.item label{
    display: block;
    padding:  10px;
    background-color: #434343;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border-bottom: solid 2px #aaa;

} 

.item label:hover{
    background-color: #f23a3a; 
}
.item ul{
    width: 100%;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition:  all .4s linear;
}
.item input{
    display: none;
}
.item ul li a{
    width: auto;
    height: auto;
    padding: 10px ; 
    display: block;
    text-decoration: none;
    background-color: #fafafa;
    color: #333;
    border-bottom: solid 2px #aaa;


}
.item ul li a:hover{
    background-color: #9CF;
}
.item input:checked ~ ul{
    height: auto;
    max-height: 400px;
    transform: all;
    /* transition:  all .4s linear; */
}



.footer footer{
    width: 50%;
    height: 100%;
    margin: auto;
    bottom: 0;
    position: relative;
    margin-top: 28%;
    padding: 0% 43% 
    
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: 
        radial-gradient(circle at left bottom, 
        #ffff 0%, #ffff 20%, 
        #fffb 20%, #fffb 30%, 
        #fff6 30%, #fff6 40%, 
        #fff2 40%, #fff2 50%, 
        #fff2 60%, #fff2 70%, 
    
        transparent 50%, transparent 100%),
        url(https://placecage.com/100/100);
    background-size: 100% 100%, cover;
    background-position: bottom left, center;
    background-repeat: no-repeat;

    animation: nome 5s infinite;
}
@keyframes nome {
    50% {
        background-size: 120% 120%, cover;
    }
}